* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
body {
  width: 100vw;
  min-height: 100vh;
  background-color: #232323;
}
.App {
  width: 100%;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.sandbox-container {
  width: 500px;
  height: fit-content;
  background-color: #343434;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.6);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  border-radius: 14px;
  gap: 10px;
}

.select-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 10px;
  background-color: #434343;
  box-shadow:  0px 3px 10px rgba(0,0,0,0.6);
  gap: 8px;
  align-items: center;
  border-radius: 14px;
}

select, input {
  height: 28px;
  width: 250px;
  border: none;
  padding: 0px 8px;
  border-radius: 14px;
  color: black;
}

.square {
  height: 75px;
  width: 75px;
  background-color: slategray;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

option {
  color: black;
}